@font-face {
  font-family: 'NotoSansTC-Regular';
  src: url('https://cythilya.github.io/public/web-vitals/Noto_Sans_TC/NotoSansTC-Regular.otf')
    format('opentype');
}

.App {
  font-family: 'NotoSansTC-Regular';
}
